.auth-container {
  width: 100%;
  max-width: 544px;
  margin: 0 auto;
}

.auth-header {
  display: flex;
  width: 100%;
  border-bottom: 1px solid var(--bg-gray);
  margin-bottom: 33px;
}

.auth-header-title {
  display: block;
  text-align: center;
  width: 50%;
  font-size: 24px;
  letter-spacing: 5px;
  font-weight: 700;
  padding: 25px 0;
  text-transform: uppercase;
  color: var(--secondary);
  font-family: 'BebasNeue';
  cursor: pointer;
}

.active-title {
  color: var(--primary);
  border-bottom: 1px solid var(--primary);
}
