header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 24px 0;
  margin-bottom: 72px;
  text-transform: uppercase;
  border-bottom: 1px solid var(--bg-gray);
}

h1 {
  font-family: 'BebasNeue';
  color: var(--primary);
}

@media screen and (max-width: 900px) {
  header {
    flex-wrap: wrap;
    gap: 10px;
    flex-direction: column;
    justify-content: center;
  }
}
